@import "tailwindcss";

@theme {
    --font-display: "Raleway", sans-serif;
/* Dark Mode */
    /* --color-*: initial; */
    --color-bg-dark: hsl(0 0% 0%);
    --color-bg: hsl(0 0% 5%);
    --color-bg-light: hsl(0 0% 10%);
    --color-text: hsl(0 0% 95%);
    --color-text-muted: hsl(0 0% 70%);

/* Light Mode */
    --color-bg-dark: hsl(0 0% 90%);
    --color-bg: hsl(0 0% 95%);
    --color-bg-light: hsl(0 0% 100%);
    --color-text: hsl(0 0% 5%);
    --color-text-muted: hsl(0 0% 30%);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


button:hover {
    cursor: pointer;
    
}

.button-hover {
    @apply rounded-full hover:bg-gray-400/20;
}

.formCard {
    @apply p-4 m-2 bg-white rounded-md shadow-md space-y-4 border border-gray-200 flex flex-col;
}

.formInputBox {
    @apply bg-white rounded-sm shadow-sm  border border-gray-200 px-1 w-full
}

.formLabel {
    @apply text-sm font-medium block
}

.formLabelNB {
    @apply text-sm font-medium
}

.drillLogCard {
    @apply border-1 border-black px-2 py-1 mb-1 text-sm
}

.bioInputBox {
    @apply bg-gray-100 rounded-sm w-full px-2 py-1 border-1
}

.bioInputDiv {
    @apply w-full flex flex-col gap-y-1 mb-2
}

.bioWorkplaceInput {
    @apply flex flex-row gap-x-2 mb-2
}

.bioList {
    @apply flex items-center gap-x-2
}