@import "tailwindcss";

@theme {
    --font-display: "Raleway", sans-serif;
/* Dark Mode */
    /* --color-*: initial; */
    --color-bg-dark: hsl(0 0% 0%);
    --color-bg: hsl(0 0% 5%);
    --color-bg-light: hsl(0 0% 10%);
    --color-text: hsl(0 0% 95%);
    --color-text-muted: hsl(0 0% 70%);

/* Light Mode */
    --color-bg-dark: hsl(0 0% 90%);
    --color-bg: hsl(0 0% 95%);
    --color-bg-light: hsl(0 0% 100%);
    --color-text: hsl(0 0% 5%);
    --color-text-muted: hsl(0 0% 30%);
}

button:hover {
    cursor: pointer;
    
}

.formCard {
  @apply p-4 m-2 bg-white rounded-md shadow-md space-y-4 border border-gray-200 flex flex-col;
}

.formInputBox {
    @apply bg-white rounded-sm shadow-sm  border border-gray-200 px-1 max-w-1/3
}

.formLabel {
    @apply text-sm font-medium block
}
